{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block title %}Sample Project - Page 1{% endblock %}

{% block extrahead %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "author/scss/page1.scss" %}" />
{% endcompress %}
{% endblock %}
{% block content %}
<h1>Page 1</h1>
<div id="add-new-author">Loading...</div>
<div id="authors">Loading...</div>
{% compress js %}
    <script type="text/babel" src="{% static "author/js/pages/page1.jsx" %}"></script>
{% endcompress %}
{% endblock %}
